---
import Layout from "../../layouts/Layout.astro";
import SEO from "../../layouts/utils/SEO.astro";
import data from "../../assets/data/projects"


export function getStaticPaths() {
    return data.projects.map((p) => {
        return {
            params: {slug: p.slug},
            props: {p}
        }
    })
}

const {p} = Astro.props
const {slug} = Astro.params

---

<SEO
  lang="fr"
  title={`Arthur Debruille | ${p.title}`}
  description={`Découvrez comment j'ai contribué à créer une expérience en ligne exceptionnelle pour ${p.title}. Explorez mes réalisations et plongez dans les détails de ce projet captivant.`}
>
  <Layout>
    <h1>{p.title}</h1>
    <p>{p.date}</p>
    <h1>{p.projectDescription.title}</h1>
    <p class="bi-bold-body">Objectfif</p>
    <p>{p.projectDescription.goal}</p>
    <a href="/">Back to home</a>
  </Layout>
</SEO>
