---
import Layout from "../../layouts/Layout.astro";
import SEO from "../../layouts/utils/SEO.astro";
import data from "../../assets/data/projects"
import ProjectHero from "../../components/organisms/ProjectHero/Index"
import ProjectDescription from "../../components/organisms/ProjectDescription/Index"
import MarqueePicture from "../../components/organisms/MarqueePicture/Index"


export function getStaticPaths() {
    return data.projects.map((p) => {
        return {
            params: {slug: p.slug},
            props: {p}
        }
    })
}


const {p} = Astro.props
const {slug} = Astro.params
console.log(p);

---

<SEO
  lang="fr"
  title={`Arthur Debruille | ${p.title}`}
  description={`Découvrez comment j'ai contribué à créer une expérience en ligne exceptionnelle pour ${p.title}. Explorez mes réalisations et plongez dans les détails de ce projet captivant.`}
>
  <Layout>
    <ProjectHero title={p.title} date={p.date} inCover={p.inCover.picture} client:load/>
    <ProjectDescription title={p.projectDescription.title} goal={p.projectDescription.goal}/>
    <MarqueePicture client:load/>
    <div style="height: 1000px "></div>
  </Layout>
</SEO>
